nodeRED
[{"id":"204598da.b25728","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fae6c298.09973","type":"mqtt in","z":"204598da.b25728","name":"","topic":"nodeREDmanisa/sensorC/temperature","qos":"2","broker":"2b1d37a5.861058","x":230,"y":280,"wires":[["d45ed4ae.b6efa8"]]},{"id":"f6ffd458.c2c708","type":"mqtt in","z":"204598da.b25728","name":"","topic":"nodeREDmanisa/sensorC/humidity","qos":"2","broker":"2b1d37a5.861058","x":240,"y":360,"wires":[["d45ed4ae.b6efa8"]]},{"id":"c6070b94.762fb8","type":"mqtt in","z":"204598da.b25728","name":"","topic":"nodeREDmanisa/sensorC/PM25","qos":"2","broker":"2b1d37a5.861058","x":250,"y":200,"wires":[["d45ed4ae.b6efa8"]]},{"id":"d45ed4ae.b6efa8","type":"function","z":"204598da.b25728","name":"Combined T, H, PM2.5","func":"var newmsg = {};\nvar record = 0;\n\ncontext.data = context.data || {};\n\n\nswitch(msg.topic){\n    case \"nodeREDmanisa/sensorC/PM25\":\n        context.data.PM25 = parseInt(msg.payload);\n        msg = null;\n        break;\n    case \"nodeREDmanisa/sensorC/temperature\":\n        context.data.temperature = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case \"nodeREDmanisa/sensorC/humidity\":\n        context.data.humidity = parseFloat(msg.payload);\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif (context.data.PM25 != null &&\n    context.data.temperature != null &&\n    context.data.humidity != null) {\n        var time = Date();    \n        context.data.time = time.toString();\n        newmsg = { payload: context.data,\n        topic: 'SensorA' };\n    record = 5;\n    return newmsg;\n} else\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["cd1451e0.4f6c"]]},{"id":"cd1451e0.4f6c","type":"debug","z":"204598da.b25728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":280,"wires":[]},{"id":"2b1d37a5.861058","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
